* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: Quicksand;
    src: url(/static/Quicksand-Regular.ttf);
}



        /* HEADER */
header {
    height: 80px;
    width: 100%;

    background: #ffffff;

    display: flex;
    align-items:center;
    justify-content:space-between;

    position: sticky;
    top: 0;


    -moz-box-shadow:     0 0 15px #000000;
    -webkit-box-shadow:  0 0 15px #000000;
    box-shadow:          0 0 15px #000000;

    z-index: 10;
}


.logo-left {
    height: 60px;
    width: 60px;
    margin-left: 8px;

    -moz-box-shadow:     inset 0 0 10px #000000;
    -webkit-box-shadow:  inset 0 0 10px #000000;
    box-shadow:          inset 0 0 10px #000000;
}


.navigation {

    width: 60%;

    position: absolute;
    left: 50%;
    right: 50%;
    transform: translate(-50%, 0%);

    display: flex;
    justify-content: center;
}
.nav {
    display: inline-block;

    font-family: Quicksand;
    font-weight: bold;
    font-size: 2vh;

    white-space: nowrap;
    text-overflow: clip;

    padding: 10px;
    margin: 1%;

    transition: all 0.3s ease-out;

    color: #1A1E26;
}
.nav:hover{
    cursor: pointer;

    color:#f8c427;
    transform: scale(0.9);
}


.langButton {
    padding: 3px;
    font-family: Quicksand;
    font-weight: bold;
    font-size: 1.2em;

    color: #cfcfcf;
    
    margin-right: 5%;

    transition: all 0.3s ease-out;
}
.langButton:hover {
    cursor: pointer;

    color:#2D6DA6;
    transform: scale(0.9);
}


        /* MAIN */
.container{
    margin-bottom: 1px;
    display: flex;
}
h1 {
    display: block;
    position: absolute;

    font-family: Quicksand;
    font-weight: bold;

    margin: 20px;
}
#Home {
    background: url(/Images/home_background.jpg);
    background-size: auto;
    background-repeat: no-repeat;
    background-position-x: 50%;


}
#Home h1 {
    color: white;
}
.home--container {
    height: 800px;

    width: 100%;

    display: flex;
    justify-content: center;
}
.sygnet {
    width: 300px;
    height: 150px;

    margin-top: 290px;

    background: rgb(255, 255, 255);
}
.UnderSygnet {
    font-family: Quicksand;
    font-weight: bold;
    color: white;

    text-align: center;


    margin-top: 5px;

    letter-spacing: 3px;
}
.shadow {
    height: 1.3vh;
    width: 100%;
    margin-top: -1.3vh;
    background: linear-gradient(0deg, rgb(0, 0, 0) -170%, rgba(255, 255, 255, 0) 100%);
}


/* containers */
.services--container, .about--container, .projects--container, .services--container {
    height: 94vh;
    width: 100%;

    border-bottom-left-radius: 13vh;
    
    background: linear-gradient(0deg, rgb(227, 255, 254) 0%, rgba(255,255,255,1) 100%);

    border-bottom: solid 3px #ffffff;
}

    /* services */
    .services--container {}
    /* about */
    .about--container {}
    /* projects */
    .projects--container {}
    /* contact */
    .contact--container {}



/* FOOTER */
footer {
    height: 100px;
    background: black;
}